.error{
    background-color: brown;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .5rem;
    margin-top: 20px;
    border-radius: .3em;
}